[package]
name = "ocean"
version = "1.0.0"
authors = ["Vladimir Zarypov <krre31@gmail.com>"]
edition = "2018"

[lib]
name = "ocean"
path = "src/ocean/lib.rs"

[dependencies]
toml = "0.5.6"
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.56"
serde_derive = "1.0.114"
dirs = "3.0.1"
hyper = "0.13.7"
tokio = { version = "0.2.21", features = ["full"] }
lazy_static = "1.4.0"
diesel = { version = "1.4.5", features = ["postgres", "chrono", "serde_json"] }
diesel_migrations = "1.4.0"
chrono = { version = "0.4.13", features = ["serde"] }
sha1 = "0.6.0"
log = "0.4.11"
env_logger = "0.7.1"
